#blogs {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
  
    p {
      font-size: 2rem;
    }
  
    svg {
      width: 45vw;
      height: 35vh;
    }

    /* Blog_form.scss */

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f2f2f2; 
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    height: 150px;
  }
  
  .form-group:nth-child(2),
  .form-group:nth-child(3),
  .form-group:nth-child(4) {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
  }
  
  .form-group:nth-child(4) {
    width: 100%;
  }
  
  button{
    background-color: mediumaquamarine;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
}


  