#blogs {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
  
    p {
      font-size: 1.5rem;
    }
  
    svg {
      width: 45vw;
      height: 35vh;
    }

    #date{
        text-align: right;
    }

    #author {
        text-align: right;
    }

    span{
        color: mediumturquoise;
    }

    #submitmsg{
      font-size: 1.5rem;
      text-align: center;
    }

    #topic, #names{
        font-size: 1.5rem;
        text-align: left;
    }

    #topic, #names{
      font-weight: bold;
      font-style: italic;
    }

    #names{
      color:darksalmon;
    }
  }
  