// Media Queries to handle changes for Device Width
@mixin leq($breakpoint) {
  @if type-of($breakpoint) != 'number' {
    @error 'Property #{$breakpoint} must be a number.';
  }

  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin geq($breakpoint) {
  @if type-of($breakpoint) != 'number' {
    @error 'Property #{$breakpoint} must be a number.';
  }

  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin between($lwr-breakpoint, $upr-breakpoint) {
  @if type-of($lwr-breakpoint) != 'number' {
    @error 'Property #{$lwr-breakpoint} must be a number.';
  }

  @if type-of($upr-breakpoint) != 'number' {
    @error 'Property #{$upr-breakpoint} must be a number.';
  }

  @if $lwr-breakpoint >= $upr-breakpoint {
    @error 'Property #{$lwr-breakpoint} must be smaller than #{$upr-breakpoint}';
  }

  @media only screen and (min-width: $lwr-breakpoint) and (max-width: $upr-breakpoint) {
    @content;
  }
}

@mixin astro-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
