body {
  overflow-y: hidden !important;

  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    .title {
      font-size: 100px;
      color:cadetblue;
      text-shadow:
        1px 1px 1px #00593e,
        2px 2px 1px #00593e,
        3px 3px 1px #00593e,
        4px 4px 1px #00593e,
        5px 5px 1px #00593e,
        6px 6px 1px #00593e,
        7px 7px 1px #00593e,
        8px 8px 1px #00593e,
        25px 25px 8px rgba(0, 0, 0, 0.2);
    }

    .description {
      margin: 2rem 0;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
