@import 'abstracts/mixins';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');



* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #fff;
}


body {
  position: relative;
  font-family: 'Comic Neue', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.12rem;
  padding-bottom: 2rem;
  text-align: center;
}

a {
  color: #000;
}

p {
  color: #000;
  font-weight: 300;
}

section {
  padding: 15vh 5vw;
}

img {
  @include astro-image;
}
