---
import { Image } from 'astro:assets';

import type { TeamMember } from './config';

import '../../styles/components/TeamMember.scss';

interface Props extends TeamMember {}

const { name, position, src, alt } = Astro.props;
---

<div class="team-member">
  <Image
    src={src}
    alt={alt}
    format="avif"
    quality="low"
  />
  <div class="container">
    <h3>{name}</h3>
    <p>{position}</p>
  </div>
</div>
