---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";

import "../styles/pages/404.scss";
---

<BaseLayout includeHeader={false} title="404">
  <div class="error-container">
    <h1 class="title">Oops</h1>
    <p class="description">The page you are looking for is not found</p>
    <Button title="BACK TO HOME" href="/" />
  </div>
</BaseLayout>
