---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/pages/thankyou.scss";
---

<BaseLayout includeHeader={false} title="thankyou">
  <div class="container">
    <h1 class="title">Thank you for submission</h1>
    <p class="description">
      We will review your article and post them on our blog!
    </p>
  </div>
</BaseLayout>
