---
import "../styles/components/AboutUs.scss";
---

<section id="about-us">
  <div class="vision">
    <h2>Our goal & Mission</h2>
    <p>
      We aim to provide the students of UTSC with the representation and
      resources they need for success.
    </p>
    <br />
    <p>
      We host events varying from social mixers between students and mixed
      student-faculty events, workshops for important chemistry techniques,
      office hours for chemistry lab help, field trips to bring chemistry in
      context and more.
    </p>
    <br />
    <p>
      Our mission is to cultivate a chemistry community on campus and push for
      the growth of Chemistry as a department at the University of Toronto
      Scarborough.
    </p>
  </div>
</section>
