---
import "../styles/components/Program.scss";
---

<section id="program">
  <h2>Our Programs</h2>
  <p class="description">We provide .....</p>
  <div class="divider">
    <span> •</span>
  </div>
  <br />
  <div class="covalent">
    <h3>Covalent Network</h3>
    <br />
    <br />
    <p>
      The Covalent Network Program is a program where CSU members can have
      benefits include:
    </p>
    <br />
    <ul>
      <li>
        Discounts to our on and off-campus events such as liquid nitrogen
        ice-cream
      </li>
      <li>Access to volunteer opportunities such as science outreach events</li>
    </ul>
    <ul>
      <li>
        A CSU membership costs $5 and is valid for the entirety of a student's
        enrollment at UTSC
      </li>
      <li>
        Discounts on lab notebooks sold by CSU (if purchased with a membership)
      </li>
    </ul>
  </div>
  <div class="divider">
    <span> •</span>
  </div>
  <div class="aid">
    <br />
    <br />
    <h3>The Chemistry Aid Center</h3>
    <br />
    <br />
    <p>
      The Chemistry Aid Centre is a centre co-ran by the Environmental and
      Physical Sciences Association (EPSA) and our organization. The centre
      provides in-person help to assist students in course material such as
      prelaboratory help, laboratory techniques and course content.
    </p>
    <br />
  </div>
  <div class="divider">
    <span> •</span>
  </div>
  <div class="OH">
    <br />
    <br />
    <h3>Office Hours</h3>
    <br />
    <br />
    <p>
      The Chemistry Society at UTSC provides time for our CSU members to talk to
      the executive team to chat about social and academic issues. Members are
      free to use our Chemistry textbook library, whiteboard to solve questions
      and eat from our office snack bar.
    </p>
    <br />
  </div>
  <div class="divider">
    <span> •</span>
  </div>
  <br />
  <br />
  <!-- <Button title="Contact Us" href="/#sponsors" /> -->
</section>
