---
import "../../styles/components/FAQs.scss";
---

<section id="FAQs">
  <script src="./dropdown.js"></script>
  <h2>Frequently Asked Questions</h2>

  <div class="question">
    <h3>What are some program choices I have?</h3>
    <img
      src="../../../public/dropdown.png"
      ,
      alt="Dropdown Icon"
      ,
      class="icon"
      ,
      id="down"
      ,
    />
    <img
      src="../../../public/left.png"
      ,
      alt="left icon"
      ,
      class="icon"
      ,
      id="left"
      ,
      style="display: none;"
    />
  </div>
  <div class="answer">
    <p>Answer 1</p>
  </div>
  <hr class="underline" />
  <br />

  <div class="question">
    <h3>Are there any good study resources?</h3>
    <img
      src="../../../public/dropdown.png"
      ,
      alt="Dropdown Icon"
      ,
      class="icon"
      ,
      id="down"
      ,
    />
    <img
      src="../../../public/left.png"
      ,
      alt="left icon"
      ,
      class="icon"
      ,
      id="left"
      ,
      style="display: none;"
    />
  </div>
  <div class="answer">
    <p>Answer 2</p>
  </div>
  <hr class="underline" />
  <br />

  <div class="question">
    <h3>What does CSU do?</h3>
    <img
      src="../../../public/dropdown.png"
      ,
      alt="Dropdown Icon"
      ,
      class="icon"
      ,
      id="down"
      ,
    />
    <img
      src="../../../public/left.png"
      ,
      alt="left icon"
      ,
      class="icon"
      ,
      id="left"
      ,
      style="display: none;"
    />
  </div>
  <div class="answer">
    <p>Answer 3</p>
  </div>
  <hr class="underline" />
  <br />

  <div class="question">
    <h3>What are some future paths?</h3>
    <img
      src="../../../public/dropdown.png"
      ,
      alt="Dropdown Icon"
      ,
      class="icon"
      ,
      id="down"
      ,
    />
    <img
      src="../../../public/left.png"
      ,
      alt="left icon"
      ,
      class="icon"
      ,
      id="left"
      ,
      style="display: none;"
    />
  </div>
  <div class="answer">
    <p>Answer 4</p>
  </div>
  <hr class="underline" />
  <br />
</section>
