---
import "../../styles/components/Blog.scss";
import Form from "./Blog_form.astro";
---

<section id="blogs">
  <h2>Monthly Blog</h2>
  <h3 id="topic">Topic for this month:</h3><h3 id="names">
    Pharmaceutical & Medicinal Chemistry
  </h3>
  <p>
    I was excited to see that Moderna and Merck & Co. announced mid-term results
    of a Phase 2b trial on mRNA-4157, a messenger RNA vaccine that was
    individualized to treat patients with high-risk Stage III/IV melanoma. This
    vaccine is an investigational individualized neoantigen therapy (INT), which
    uses the unique DNA sequence of the patient's cancerous cells to create mRNA
    that can be translated into up to 34 neoantigens. This mirrors the central
    dogma of molecular biology in which genetic information is transcribed from
    DNA to create RNA, and RNA is translated to form proteins. Neoantigens are
    tumour-specific mutations that promote T-cell response to cancerous cells.
    The mRNA vaccine was encapsulated in lipid nanoparticles, which are
    sphere-shaped vesicles made of lipids. The vaccine can be brought into
    receiving cells via endocytosis, in which the cell membrane buds off to form
    a vesicle which envelops the nanoparticle to bring it into the cytoplasm. A
    Phase 2 trial is a clinical trial that assesses the effectiveness and side
    effects of a drug by testing it on a few hundred patients. In this study,
    the vaccine was tested on 157 patients with high-risk Stage III/IV melanoma
    and used in combination with KEYTRUDA. KEYTRUDA is an immunotherapy that
    inhibits PD-1 checkpoint proteins from non-covalently binding to PD-L1
    partner proteins that can be present on cancer cells.1 Since the bonding of
    checkpoint proteins to its ligands on certain cells suppresses the immune
    response of T-cells to them, inhibiting PD-1 proteins can increase T-cell
    response to cancer cells. When the vaccine was used with KEYTRUDA, the
    possibility of death or the cancer recurrence was decreased by 49% and when
    the vaccine was compared to the usage of KEYTRUDA alone, mRNA-4157 decreased
    the chance of death or metastasis by 62%. This made mRNA-4157 a very
    promising therapeutic ines are also being developed to treat pancreatic
    cancer and lung cancer. I am looking forward to seeing how the rest of the
    clinical trials play out especially because University of Toronto
    researchers including Professor Bowen Li, have conducted similar work about
    using lipid nanoparticles to deliver mRNA more directly to muscles and avoid
    off-target organs, which also has applications for treating melanoma.
  </p>
  <p id="date">Jan 22, 2024</p>
  <p id="author">By <span>Natalie Cheung</span></p>
  <br />

  <p>
    ‘Medicinal chemistry’ was officially named an interdisciplinary science
    after World War II. Still, optimizing chemical compounds and synthesizing
    new ones for practicing medicine has been done since the earliest days of
    human civilizations. Applications of herbs and other materials to treat
    wounds and diseases is a long-used strategy that forms the basis of modern
    medicine. Medicinal chemistry focuses on how pharmaceuticals are developed
    to diagnose, prevent, and treat diseases. With that in mind, scientists from
    many disciplines have applied their knowledge while working together,
    allowing this fundamental field to rapidly flourish into how mainstream it
    is today. In fact, the extraordinary accomplishments of medicinal chemistry
    within the past two decades have been groundbreaking (or rather
    molecule-breaking) in cancer research. The 2010s were described as “The
    Decade of Immunotherapy” by the Cancer Research Institute and with good
    reason. In that time frame, the Food and Drug Administration (FDA) approved
    the first immunotherapy treatments for different cancers, enabling
    oncologists to prescribe them if applicable. Immunotherapy, or Biological
    Response Modifier (BRM) therapy, utilizes the body’s immune system to
    influence its response to cancer cells. Scientists began looking into small
    molecule-based methods to treat cancer as the pharmacokinetics of
    small-molecule immuno-oncology agents allow them to overcome the challenges
    that immune checkpoint antibodies face. While cancer-treating antibodies
    were already a breakthrough in immunotherapy and had suitable
    pharmacodynamics, their pharmacokinetics caused them difficulty penetrating
    tumor-infected tissue and effectively targeting specific cells. In targeted
    immunotherapy, small molecules more easily penetrate cells to influence them
    through an immune response or create biomarkers and produce a target for
    antibodies cell. Monoclonal antibodies can also mark the cells for an immune
    response or may contain materials that stop growth or cause cell suicide in
    cancer cells. The biochemistry of the small-molecule drugs and therapeutic
    antibodies had to be specifically adapted to detect and produce the desired
    effect when interacting with the molecules of infected cells. This aspect of
    researching medicinal chemistry, though complex, highlights how important it
    is for researchers to share knowledge as, in the future, this approach is
    hoped to reduce or even prevent patients’ exposure to radiation from
    chemotherapy. A highly in-depth understanding of how the biological,
    chemical, and physical properties of materials in the body interact and
    function is crucial for synthesizing chemicals for therapeutic use and the
    continued advancement of pharmaceutical research to find even more effective
    treatments and perhaps preventions.
  </p>
  <p id="date">Jan 22, 2024</p>
  <p id="author">By <span>Iman Mansoor</span></p>
  <br />

  <p>
    We often get sick with various kinds of illnesses, but the drill is the same
    each time. We get sick, go to our doctor, and get some medications
    prescribed. We often do not think much of this, and just take the
    medications until we start to feel better. However, many times doctors often
    prescribe a specific class of medications, specifically known as
    ‘Antibiotics’. An antibiotic is an antimicrobial substance, and essentially
    fights bacteria. It does this by either killing the bacteria or by
    inhibiting its growth/ability to reproduce. These medications are essential
    in the treatment and prevention of illnesses caused by bacterial infections.
    Aside from the actual name of the drug on the prescription bottle, another
    indicator of antibiotics is that they are prescribed over a certain
    timeframe. For example, you have a fever, and your doctor prescribes you to
    take a pill once every 8 hours for a week. Many people do not heed this
    advice, and instead stop taking the medication once they start to feel
    better. This doesn’t seem like such a big deal, however, that time period is
    specifically designed to ensure that all the bacteria has been killed off
    inside your body. Stopping intake of antibiotics prematurely can be
    detrimental to not only you, but anyone who gets infected through
    interaction with you. This infection comes from the remnants of bacteria
    still left in your body that were resistant to the initial doses of
    antibiotics. As Kelly Clarkson says, “What doesn’t kill you, makes you
    stronger”. This is especially relevant to bacteria, as that resistance
    allows them to prosper in the host's body, and be even further resistant to
    the same antibiotics. This class of bugs are known as Superbugs, and present
    an increasing risk to the healthcare industry. Many life saving procedures
    and surgeries rely on antibiotics to prevent and treat any bacterial
    infections. The presence of superbugs can jeopardize the success of such
    procedures, and even cause more harm than good. As superbugs spread just
    like other strains of bacteria, the interconnected nature of travel and
    trade further increases this risk. As seen with the COVID-19 outbreak,
    containing outbreaks before they become pandemics is becoming increasingly
    difficult. Recognizing carriers of superbugs is also difficult, as many
    people are asymptomatic, or new strains of superbugs with very little
    research information available, do not even have any documented telltale
    symptoms. However, there are some professions or conditions which increase
    the chances of a superbug infection. Some examples are people who have
    chronic illnesses, and thus a weakened immune system, people who work as
    veterinarians or in animal care facilities, and in agriculture. With such an
    increasing risk, and not enough ways to fight these superbugs, it is vital
    to protect yourself by ensuring you complete the full course of antibiotics,
    and take preventative measures to ensure you do not catch diseases. Some
    measures can be as simple as washing your hands periodically, getting
    vaccinated, and practicing good hygiene.
  </p>
  <p id="date">Jan 22, 2024</p>
  <p id="author">By <span> Tabinah Salman</span></p>
  <br />

  <h3 id="submitmsg">
    Want to share something you wrote? Submit the article below based on this
    month's topic
  </h3>
  <Form />
</section>
