---
import "../styles/layout/Footer.scss";
---

<footer>
  <p>Made by CSU Web Developer</p>
  <p class="copyright">
    Copyright &copy; CSU
    {" " + new Date().getFullYear()}. All Rights Reserved
  </p>
</footer>
